

#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-left: 1em;
}

.card-dealer {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin-right: -4em;
}


#card figure {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-dealer figure {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

#card .card-front {
    margin: 0;
    display: block;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    backface-visibility: hidden;
    margin-top: -2.6em;
}

#card .card-front-dealer {
    margin: 0;
    display: block;
    width: 60px;
    height: 86px;
    border-radius: 3.5px;
    background: tomato;
    border: 4px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    backface-visibility: hidden;
    margin-top: 1.2em;
}

// Closed To Card-Back
#card .closed {
  transform: rotateY( 0deg );


}

// Open to Card-Front. T
#card .open {
   transform: rotateY( 180deg );
    
}


#card .card-back {
    width: 60px;
    height: 86px;
    border-radius: 3.5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: -2.3em;
    position: absolute;
    background: tomato;
    border: 4px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY( 180deg );
}
#card .card-back-dealer {
    margin: 0;
    width: 60px;
    height: 86px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   margin-top: 0.1em;
}

#card.flipped {
  transform: rotateY( 180deg );
  margin-right: -5.2em;
}